<div class="p-4">
  <div class="flex items-end justify-end mb-4">
    <div class="bg-line-green text-white text-sm font-semibold p-2 rounded-tl-lg rounded-tr-lg rounded-bl-lg">
      <%= comment.content %>
    </div>
  </div>
  <div class="flex items-end mb-4">
    <div class="bg-gray-300 text-gray-800 text-sm font-semibold p-2 rounded-tl-lg rounded-tr-lg rounded-br-lg">
      <%= comment.gpt_response %>
    </div>
  </div>
</div>